{% extends "principal.html" %}


{% block cabecera %}
    {% include "estructura/menu.html" %}
{% endblock %}
{% block contenido %}

<div class="container mt-4" style="max-width: 700px;">
    <h2>Crear investigador</h2>
    <form action="{% url 'registrar_investigador' %}" method="post">
        {% load django_bootstrap5 %}
        {% csrf_token %}
        {% bootstrap_form formulario %}
        {% bootstrap_button "Enviar" button_type="submit" button_class="btn-primary" %}
    </form>
</div>
{% endblock %}